<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Aboutus</title>

</head>
<body>
  

  <header id="header" class="d-flex flex-column justify-content-right">

    <nav id="navbar" class="navbar nav-menu" style="text-align:right;">
      <ul> 
      <li><a th:href="@{/}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Home</span></a></li>
      
        <li><a th:href="@{/logout}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Log Out</span></a></li>
      </ul>
    </nav>

  </header>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
	<center>
      <h1>About Us</h1>
      
      </center>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    

    <!-- ======= Resume Section ======= -->
    
  </main><!-- End #main -->

 


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <!-- Template Main JS File -->

	
                
    
	
	
		
</body>
</html>